extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- my name
        h1 Begana Choi

        //- personalize myself 
        p.lead.text-light
          | Full Stack JavaScript Developer based in Berlin.

        //- my elevator pitch
        .portfolio-bio
          p
            | My name is Begana Choi. I'm a junior full-stack JavaScript Developer.
            | I graduated from art university as a painter and recently I've changed my career as a web developer.
            | I'm improving my skills every day and as soon as I finish my course, I want to take an internship to accumulate tech-environment experiences.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- my skills 
        ul
          li Html
          li JavaScript
          li Vanilla JS
          li OOPJ
          li Ajax
          li Node.js
          li Express
          li Pug
        h6 Contact Info

        //- my contact infos
        ul
          li +49 1632922344
          li begana001.jpg@gmail.com

        //- urls of my social medias
        a.button.expanded(href='https://github.com/begana') GitHub
        a.button.expanded(href='https://www.facebook.com/anna.lowe.50309277') Facebook
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  